{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h3>Добро пожаловать на главную страницу!</h3>
    <p>Динмухаммед Канатович (Димаш) Кудайберген родился 24 мая 1994 года в Актюбинске,
в Казахстане, в семье певцов Каната и Светланы Айтбаевых.
Впервые на сцену Димаш вышел в 2 года. В возрасте шести лет, в 2000 году, он выиграл Республиканский детский конкурс «Айналайын» в номинации «Фортепиано».  В школьные годы был участником и победителем многочисленных конкурсов как у себя на Родине, так и за рубежом.
 Стремительный рост мировой известности Димаш Кудайбергена начался с января 2017 года в результате участия в китайском вокальном конкурсе «The Singer», где он виртуозно спел известную песню "SOS d’un terrien en détresse".
В ходе исполнения песен певец не ограничивает себя определённым диапазоном голоса,
к примеру баритональном, но и поднимается до уровня редкого диапазона контртенора и даже
женского сопрано в одной песне. На концертах он использует различные сложные техники пения,
где за основу берётся тональность тенора либо баритона, с переходами в диапазоны баритона,
контртенора и сопрано. В 2023 году Димашу Кудайбергену присвоено звание народного артиста Казахстана.
</p>
<p></p>
    <h3>Календарь событий</h3>
    <!-- Здесь можно добавить календарь событий -->
        <table class="table" style="color: white;">
        <thead>
            <tr>
                <th>Дата</th>
                <th style="text-align: center;">Событие</th>
                <th>Билеты</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15.10.2024</td>
                <td>   Димаш Кудайберген примет участие в Церемонии открытия Almaty Open ATP 250
                        С 13 по 20 октября 2024 года в Алматы, Казахстан пройдет турнир Almaty Open ATP 250.
                    Это соревнование из категории профессиональных теннисных турниров среди мужчин, проходящих в 30 странах мира. Победа в таком турнире приносит теннисисту 250 очков в зачет рейтинга Ассоциации теннисистов-профессионалов.
                        Открытие турнира пройдет 15 октября на Almaty Arenа. Начало в 18.00.
                        Выступление смогут посетить только обладатели билетов вечерней сессии.
                </td>
                <td><a href=" https://ticketon.kz/event/almaty-open-atp-250">Купить билеты</a></td>
            </tr>
            <tr>
                <td>22.11.2024</td>
                <td>Сольный концерт "Stranger" • Sportovni Hala Fortuna, Прага, Чехия</td>
                <td><a href=": https://www.ticketstream.cz/event/dimash-qudaibergen-..">Купить билеты</a></td>
            </tr>
            <tr>
                <td>24.11.2024</td>
                <td>Сольный концерт "Stranger" • PSD BANK DOME, Дюссельдорф, Германия</td>
                <td><a href="https://www.eventim.de/en/event/dimash-kudaibergen-dimash-qudaibergen-stranger-psd-bank-dome-18850290/">Купить билеты</a></td>
            </tr>
        </tbody>
    </table>

{% endblock %}


