{% extends 'base.html' %}

{% block title %}Новые песни{% endblock %}

{% block content %}

    <p>Здесь вы найдете последние обновления о новых песнях.</p>
    <!--Карточка 1 Domingo-->
<div class="card mb-3" style="max-width: 1200px; background-color: #D8BFD8; border: 1px solid #dee2e6;
    color: #000000; font-size: 13px;">
  <div class="row g-0">
        <div class="col-md-4">
            <img src="static/domingo.jpg" class="img-fluid rounded-start" alt="domingo">
        </div>
    <div class="col-md-8">
      <div class="card-body card-body-custom">
        <h5 class="card-title">Дуэт с Доминго</h5>
            <p class="card-text">20 января 2024 года казахстанский певец Димаш Кудайберген и испанский оперный певец Пласидо Доминго
                исполнили дуэт из оперы Жоржа Бизе 1863 года «Ловцы жемчуга». Это произошло во время финала международного проекта
                Virtuosos V4+ в Будапеште. Артисты исполнили арию Надира и Зурги «Au fond du temple saint».  Сюжет является традиционным для лирической оперы: в центре
                повествования любовный треугольник, правда, в экзотической локации. Ария повествует зрителю о двух ловцах жемчуга,
                  которые влюблены в одну и ту же девушку.  30 мая 2024 года состоялся музыкальный релиз дуэта Димаша и Пласидо Доминго «The Pearl Fishers».
            </p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>

      </div>
    </div>
  </div>
</div>

<!--Карточка 2-->
     <div class="card mb-3" style="max-width: 1200px; background-color: #D8BFD8; border: 1px solid #dee2e6; color: #000000;
     font-size: 13px;">
  <div class="row g-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/w.jpeg" class="img-fluid rounded-start" alt="static/w.jpeg">
    </div>
    <div class="col-md-8">
      <div class="card-body card-body-custom">
        <h5 class="card-title">«When I’ve got you» </h5>
        <p class="card-text">«When I’ve got you» более традиционна, как в плане композиции, так и в плане продюсирования. Это современная песня, но она отдает дань уважения популярным жанрам 20 века: блюзу, джазу, r&b, року. Она также очень романтична по своей природе, с большим количеством мелизмов в вокальной мелодии, гармонической напряженностью, густыми текстурами и в целом максималистским продакшном.
Мелодию для этого трека написал сам Димаш, он же сочинил и записал партию домбры. А слова были созданы Кэндис Келли. Дмитрий Гордон стал соавтором текста, со-продюсером и аранжировщиком данной композиции.
Димаш и режиссер Галым Асылов создали концепцию видеоклипа: «Известный артист, известный во всем мире, который обычно предпочитает быть скрытым и не публичным, решил дать свое первое открытое интервью. Он выбрал молодую журналистку, которая была очень взволнована и нервничала, задавая себе вопрос: «А что, если…».
Воображение девушки придумывает загадочного главного героя и погружает ее в таинственную историю.
</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 10 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
         </div>

<!--Карточка 3-->
     <div class="card mb-3" style="max-width: 1200px; background-color: #D8BFD8; border: 1px solid #dee2e6; color: #000000; font-size: 13px;">
  <div class="row g-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/smoke.jpg" class="img-fluid rounded-start" alt="static/smoke.jpg">
    </div>
    <div class="col-md-8">
      <div class="card-body card-body-custom">
        <h5 class="card-title">Smoke</h5>
        <p class="card-text">Домбра и оперный вокал – премьера нового трека Димаша «Smoke». 6 апреля на мировых
          музыкальных платформах вышел новый трек Димаша Кудайбергена «Smoke». Композитором нового произведения является
          сам Димаш, автором текста выступила Кэндис Келли в соавторстве с Дмитро Гордоном.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 days ago</small></p>
      </div>
    </div>
  </div>
</div>
         </div>

<!--Карточка 4-->
     <div class="card mb-3" style="max-width: 1200px; background-color: #D8BFD8; border: 1px solid #dee2e6; color: #000000; font-size: 13px;">
  <div class="row g-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/a2.jpg" class="img-fluid rounded-start" alt="static/a2.jpg">
    </div>
    <div class="col-md-8">
      <div class="card-body card-body-custom">
        <h5 class="card-title">Angel love</h5>
        <p class="card-text">На китайском канале Hunan TV вышел в эфир Гала-концерт одного из самых значимых и известных проектов «I am a Singer». Димаш Кудайберген, участник 2017 года, не раз выступавший в качестве приглашённого гостя проекта, выступил с новой композицией «Angel love». Музыку и текст песни создали композитор Ренат Гайсин и поэт Калкаман Сарин. Над аранжировкой произведения Ренат Гайсин работал в тандеме с саунд-продюсером Ерланом Бекчуриным.
Специально для китайского зрителя Димаш исполнил песню на казахском и китайском языках.
          Автор китайского текста — Линь Вэй Вейлим.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
         </div>

<!--Карточка 5-->
     <div class="card mb-3" style="max-width: 1200px; background-color: #D8BFD8; border: 1px solid #dee2e6; color: #000000; font-size: 13px;">
  <div class="row g-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/redluna.jpg" class="img-fluid rounded-start" alt="static/redluna.jpg">
    </div>
    <div class="col-md-8">
      <div class="card-body card-body-custom">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Димаш выбрал в качестве партнера по дуэту молодую китайскую поп-певицу и актрису Хуан Сяоюнь /
          Huang Xiaoyun, известную своим вокалом и широким диапазоном. Во время записи первого эпизода с участием Димаша,
          артисты исполнили вместе фрагмент романса А.Алябьева «Соловей», восхитив публику мгновенно сложившимся дуэтом оперных
          голосов. Песня «红月亮规则 Red Moon Rules» — саундтрек к веб аниме сериалу «С тех пор, как взошла Красная Луна».
          Адаптация одноименного романа Хэйшаня Лаогуя повествует о странном появлении на небе
          красной луны, знаменующем события, повлекшие за собой гибель массы людей. Для борьбы с поражающей силой
          создается специальный отряд людей, которые могут контролировать духовную энергию и способны спасти мир.
Готический стиль костюмов и постановка номера в сочетании с оперным стилем исполнения главных героев вовлек зрителей
          в мистическую историю внезапного появления на небе красной луны.
</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
         </div>

<!--Карточка 6-->
     <div class="card mb-3" style="max-width: 1200px; background-color: #D8BFD8; border: 1px solid #dee2e6; color: #000000; font-size: 13px;">
  <div class="row g-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/poet3.jpg" class="img-fluid rounded-start" alt="static/poet3.jpg">
    </div>
    <div class="col-md-8">
      <div class="card-body card-body-custom">
        <h5 class="card-title">«成为诗人 Become a Poet»</h5>
        <p class="card-text">Известная китайская певица Гун Линна выбрала Димаша для дуэта. В интервью она поделилась, что, несмотря на экспрессивное выступление Димаша в предыдущем выпуске с песней "Give Me Your Love", она считает, что ему также присущи внутренние переживания.
Гун Линна отметила, что ей очень понравилась песня Димаша "The Story of One Sky", поэтому она хотела бы предложить ему песню похожего стиля.
Недавно вышедшая композиция "成为诗人 Become a Poet" рассказывает о Дженни Бао с редким заболеванием SMA. У девушки двигается только один палец, и дышит она с помощью аппарата искусственной вентиляции лёгких.
SMA - спинальная мышечная атрофия, редкое генетическое заболевание, преимущественно поражающее двигательные нейроны, которое приводит к мышечной слабости, атрофии мышц, и даже дыхательной недостаточности.
Когда девочка родилась, доктора сказали её родителям, что ребёнок проживёт максимум четыре года...
Эта девочка начала писать стихи... И вот сегодня ей уже 21-й год! Она написала много трогательных стихов, целую книгу. В год, когда ей исполнилось 20 лет, она выпустила сборник стихов из 100 произведений.
Песня, которую исполнили Гун Линна и Димаш, посвящена этой девушке и всем, кто нуждается в поддержке. В финале выступления на большом экране студии мы увидели стихотворение Дженни и услышали её голос.
</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
         </div>

<!--Карточка 7 Fire-->
     <div class="card mb-3" style="max-width: 1200px; background-color: #D8BFD8; border: 1px solid #dee2e6; color: #000000; font-size: 13px;">
  <div class="row g-0">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/f1.jpg" class="img-fluid rounded-start" alt="static/f1.jpg">
    </div>
    <div class="col-md-8">
      <div class="card-body card-body-custom">
        <h5 class="card-title">Fire</h5>
        <p class="card-text">Премьера новой песни «Fire» Димаша Кудайбергена состоялась 13 сентября 2024 года на стадионе «Астана арена». 23
            Композицию в тяжёлом роковом стиле артист исполнил в рамках мирового тура «Stranger». Новую песню на слова
            Риз Морган Димаш написал в коллаборации с Дмитро Гордоном во время командировки в США в прошлом году.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div></div>
{% endblock %}

<!-- Подключение файла стилей -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
