{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h3>Добро пожаловать на главную страницу!</h3>
    <p>Динмухаммед Канатович (Димаш) Кудайберген родился 24 мая 1994 года в Актюбинске,
в Казахстане, в семье певцов Каната и Светланы Айтбаевых.
Впервые на сцену Димаш вышел в 2 года. В возрасте шести лет, в 2000 году, он выиграл Республиканский детский конкурс «Айналайын» в номинации «Фортепиано».  В школьные годы был участником и победителем многочисленных конкурсов как у себя на Родине, так и за рубежом.
 Стремительный рост мировой известности Димаш Кудайбергена начался с января 2017 года в результате участия в китайском вокальном конкурсе «The Singer», где он виртуозно спел известную песню "SOS d’un terrien en détresse".
В ходе исполнения песен певец не ограничивает себя определённым диапазоном голоса,
к примеру баритональном, но и поднимается до уровня редкого диапазона контртенора и даже
женского сопрано в одной песне. На концертах он использует различные сложные техники пения,
где за основу берётся тональность тенора либо баритона, с переходами в диапазоны баритона,
контртенора и сопрано. В 2023 году Димашу Кудайбергену присвоено звание народного артиста Казахстана.
</p>
<p></p>
    <h3>Календарь событий</h3>
    <!-- Здесь можно добавить календарь событий -->


{% endblock %}


